/SoftMC.gise
/_ngo/
/_xmsgs/
/ipcore_dir/
/iseconfig/
/softMC_top.bgn
/softMC_top.bit
/softMC_top.bld
/softMC_top.cfi
/softMC_top.cmd_log
/softMC_top.drc
/softMC_top.lso
/softMC_top.mcs
/softMC_top.ncd
/softMC_top.ngc
/softMC_top.ngd
/softMC_top.ngr
/softMC_top.pad
/softMC_top.par
/softMC_top.pcf
/softMC_top.prj
/softMC_top.prm
/softMC_top.ptwx
/softMC_top.stx
/softMC_top.syr
/softMC_top.twr
/softMC_top.twx
/softMC_top.unroutes
/softMC_top.ut
/softMC_top.xpi
/softMC_top.xst
/softMC_top_bitgen.xwbt
/softMC_top_envsettings.html
/softMC_top_guide.ncd
/softMC_top_map.map
/softMC_top_map.mrp
/softMC_top_map.ncd
/softMC_top_map.ngm
/softMC_top_map.xrpt
/softMC_top_ngdbuild.xrpt
/softMC_top_pad.csv
/softMC_top_pad.txt
/softMC_top_par.xrpt
/softMC_top_summary.html
/softMC_top_summary.xml
/softMC_top_usage.xml
/softMC_top_xst.xrpt
/usage_statistics_webtalk.html
/webtalk.log
/webtalk_pn.xml
/xlnx_auto_0_xdb/
/xst/
